<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!--coolbhu.cn  -->
		<property name="connection.url">jdbc:mysql://localhost:3306/totem?characterEncoding=UTF8</property>
		<property name="connection.username">root</property> <!-- dbworker -->
		<property name="connection.password"></property> <!-- dbroom1411DB- -->

		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>  <!-- usage update thread-->

		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class"> org.hibernate.cache.NoCacheProvider 
			</property> -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping resource="model/User.hbm.xml" />
		<mapping resource="model/Picture.hbm.xml" />
		<mapping resource="model/Mark.hbm.xml" />
		<mapping resource="model/Manager.hbm.xml" />
		<mapping resource="model/Feedback.hbm.xml" />
		<mapping resource="model/Qualify.hbm.xml" />

	</session-factory>
</hibernate-configuration>
